<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.booklet">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_booklet"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_booklet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ajuda.AjudaHorarioEliminar"
            android:parentActivityName=".activity.ajuda.AjudaHorarioPrincipal"/>
        <activity android:name=".notificacao.NotificationMessage" />
        <activity
            android:name=".activity.ajuda.AjudaPerfilSessao"
            android:parentActivityName=".activity.ajuda.AjudaPerfilPrincipal" />
        <activity
            android:name=".activity.ajuda.AjudaPerfilPassword"
            android:parentActivityName=".activity.ajuda.AjudaPerfilPrincipal" />
        <activity
            android:name=".activity.ajuda.AjudaPerfilPrincipal"
            android:parentActivityName=".activity.AjudaActivity" />
        <activity
            android:name=".activity.ajuda.AjudaHorarioEditar"
            android:parentActivityName=".activity.ajuda.AjudaHorarioPrincipal" />
        <activity
            android:name=".activity.ajuda.AjudaHorarioCriar"
            android:parentActivityName=".activity.ajuda.AjudaHorarioPrincipal" />
        <activity
            android:name=".activity.ajuda.AjudaHorarioPrincipal"
            android:parentActivityName=".activity.AjudaActivity" />
        <activity
            android:name=".activity.ajuda.AjudaTarefaEliminar"
            android:parentActivityName=".activity.ajuda.AjudaTarefaPrincipal" />
        <activity
            android:name=".activity.ajuda.AjudaTarefaRealizar"
            android:parentActivityName=".activity.ajuda.AjudaTarefaPrincipal" />
        <activity
            android:name=".activity.ajuda.AjudaTarefaEditar"
            android:parentActivityName=".activity.ajuda.AjudaTarefaPrincipal" />
        <activity
            android:name=".activity.ajuda.AjudaTarefaCriar"
            android:parentActivityName=".activity.ajuda.AjudaTarefaPrincipal" />
        <activity
            android:name=".activity.ajuda.AjudaTarefaPrincipal"
            android:parentActivityName=".activity.AjudaActivity" />
        <activity
            android:name=".activity.ajuda.AjudaNoticias"
            android:parentActivityName=".activity.AjudaActivity" />
        <activity
            android:name=".activity.ajuda.AjudaRegisto"
            android:parentActivityName=".activity.AjudaActivity" />
        <activity
            android:name=".activity.ajuda.AjudaLogin"
            android:parentActivityName=".activity.AjudaActivity" />
        <activity
            android:name=".activity.AjudaActivity"
            android:parentActivityName=".activity.PrincipalActivityAluno" />
        <activity
            android:name=".activity.PrincipalActivityAluno"
            android:label="@string/title_activity_principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.horario.Segunda"
            android:parentActivityName=".activity.PrincipalActivityAluno" />
        <activity
            android:name=".activity.horario.Sexta"
            android:parentActivityName=".activity.PrincipalActivityAluno" />
        <activity
            android:name=".activity.horario.Quinta"
            android:parentActivityName=".activity.PrincipalActivityAluno" />
        <activity
            android:name=".activity.horario.Quarta"
            android:parentActivityName=".activity.PrincipalActivityAluno" />
        <activity
            android:name=".activity.horario.Terca"
            android:parentActivityName=".activity.PrincipalActivityAluno" />
        <activity
            android:name=".activity.RegistoAlunoActivity"
            android:parentActivityName=".activity.MainActivity" />

        <receiver
            android:name=".notificacao.BootUpReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".notificacao.AlarmBroadCast" />
    </application>

</manifest>